.submitBtn {
    float: right;
    background-color: #61D77B;
    border: #61D77B;
}

.submitBtn:hover {
    background-color: #4fc568;
}

.pillsContainer {
    margin-top: 3%;
    margin-bottom: 3%;
}

.pill {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.tabColor {
    color: #4fc568;
}

.tabColor:hover {
    color: #61D77B;
}